:root 
{
  --width-xl: 42rem;
  --space-s: .25rem;
  --space-m: .5rem;
  --space-l: 1rem;
  --space-xl: 1.5rem;
  --space-xxl: 2rem;
  --radius-m: 12px;
  --fg: rgb(255,255,255);
  --bg: rgb(76,75,81);
}

*,*::before,*::after 
{ 
  box-sizing: border-box; 
}

html, body 
{ 
  height: 100%; 
}

body 
{
  margin: 0;
  max-width: var(--width-xl, 36rem);
  margin: var(--space-xxl) auto;
  padding: 0 var(--space-l);
  background: var(--bg);
  color: var(--fg);
  font-family: FreeMono, monospace;
}

.smoothed 
{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 
{
  font-family: Georgia, serif;
  margin: var(--space-xxl) 0 var(--space-l);
}

.info 
{
  line-height: 1.6;
  margin: 0 0 var(--space-xxl);
}

.nav 
{
  font-family: "3270NerdFont", monospace;
  color: var(--fg);
  text-decoration: none;
  font-size: 1.2rem;
  display: inline-block;
  transition: transform .3s ease;
  margin-right: var(--space-l);
}

.nav:last-child 
{ 
  margin-right: 0; 
}

.nav:hover 
{ 
  transform: translateY(-5px); 
}

.about 
{ 
  margin-top: var(--space-xl); 
}

.resume,.contact 
{ 
  margin-left: var(--space-l); 
}

.resumeImage 
{
  width: 100%;
  height: auto;
  margin-top: var(--space-xxl);
  border-radius: var(--radius-m);
  transition: transform .3s ease;
}

.resumeImage:hover 
{ 
  transform: scale(1.05); 
}

.link 
{
  color: rgb(139,176,229); 
}

@media (max-width: 600px) 
{
  body 
  { 
    margin: var(--space-xl) auto; 
  }
  h1
  { 
    font-size: 1.5rem; 
    text-align: center; 
  }
  .nav 
  { 
    font-size: 1rem; 
  }
}
